a:hover {
    text-decoration: none;
}
table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: dotted;
	border-color: gray;
	border-collapse: separate;
}
table tr:hover {
    background: #FCF;
}
table th {
	border-width: 1px;
	padding: 1px;
	border-style: none;
	-moz-border-radius: 0px 0px 0px 0px;
}

table tr:hover td {
	background-color: #B0C4DE;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: none;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.dataTable thead .sorting_asc {
  background-color: red;
}
table.dataTable thead .sorting_desc {
  background-color: green;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable tbody tr:nth-child(10n) {background-color:#B2B2B2}
.dataTables_wrapper .dataTables_filter {
  display: none;
}
